* {
    margin: 0px;
    padding: 0px;
}


/* ===============Fonts=============== */

@font-face {
    font-family: 'segoeui';
    src: url('../fonts/Segoe-UI.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Bold';
    src: url('../fonts/Segoe-UI-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}


/* ===============end=============== */


/* ========Theme Color======== */

.color-ligth {
    color: #cecece;
}


/* =========Theme Color======= */


/* ==========Global=========== */

h1,
h2,
h3,
h4 {
    font-family: 'Segoe UI Bold';
    color: black;
}

a {
    text-decoration: none!important;
}

p {
    font-family: 'segoeui', sans-serif;
    margin-bottom: 0!important;
}

.pos {
    position: relative;
    top: 25%;
}

.pos-1 {
    position: relative;
    top: 250px;
}

.h-40 {
    height: 40px!important;
}

.p1-tb-121 {
    padding: 121px 0;
}

.object-cover {
    object-fit: cover;
}

.f-30 {
    font-size: 30px;
}

.fs-58 {
    font-size: 58px;
}

.f-20 {
    font-size: 20px;
}

.object-contain {
    object-fit: contain;
}

.pos-top {
    object-position: top center;
}

.w-16 {
    width: 16% !important;
}


/* ==========End=========== */


/* pre register */

#reg-form {
    background: #696969;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: block;
    position: absolute;
}

#reg-form p,
h1 {
    color: white;
}


/* end */


/* barner */

#barner {
    background: #696969;
    height: 757px;
}

.view {
    padding: 12px 30px;
    border: 1px solid;
    font-weight: bold;
}

.view:hover {
    background-color: #fff;
    color: black!important;
}


/* end */


/* gallary */

.selected-photos {
    padding: 10px 15px;
    font-size: 12px;
}

.selected-photos {
    border-radius: 2px;
    border: dashed;
    border-width: 1px;
    padding: 13.5px 15px;
    border-color: #AEAEAE;
    margin-left: 7px;
}

.filter {
    background: #e6e3e3;
}

.link {
    background: red;
}

.heart {
    text-align: right;
    margin-top: -20px;
    padding-right: 12px;
    color: white;
}

.f-18 {
    font-size: 18px;
}

.heart-fill {
    cursor: pointer;
}

.color-red {
    color: red;
}

.masonry-grid {
    /* Masonry container */
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
    margin: 1em;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}

.item {
    display: inline-block;
    background: #fff;
    padding: .2em;
    margin: 0 0 1.5em;
    width: 100%;
    -webkit-transition: 1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
}

.item img {
    max-width: 100%;
}

@media only screen and (max-width: 320px) {
    .masonry-grid {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
    .masonry-grid {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
    .masonry-grid {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 1201px) {
    .masonry-grid {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}


/* end */